/*Global rules*/
* {
  box-sizing: border-box;
  -webkit-box-sizing: border-box;
  -moz-box-sizing: border-box;
}

body {
  font-family: "Segoe UI", Tahoma, Geneva, Verdana, sans-serif;
  display: flex;
  align-items: center;
  justify-content: space-between;
  position: relative;
  margin: 0;
}
button {
  width: 150px;
  height: 80px;
  margin: 5px 2px;
  font-size: 40px;
  outline: none;
  border: 0.5px solid transparent;
  background-color: #f5f5f5;
  text-align: center;
}
.sinceCalc button {
  width: 120px;
  height: 58px;
  margin: 5px 2px;
  font-size: 22px;
  outline: none;
  border: 0.5px solid transparent;
  text-align: center;
}
button[data-number] {
  background-color: white;
  border: 0.5px solid #f5f5f5;
}
button:hover {
  background-color: yellowgreen;
  color: white;
  transition: all 0.3s ease-in;
}
h3 {
  color: #a3ff29;
  font-size: 25px;
  margin: 0;
}

/* ======================== calcolator ============== */
.calc {
  border: 1px solid #000;
  padding: 5px;
  width: 620px;
  height: 830px;
  display: flex;
  flex-direction: column;
  align-items: center;
  margin: 5% auto;
}
#main {
  display: flex;
  align-items: center;
  flex: 1;
}
.historyRepo {
  width: 0;
  height: 100vh;
  background-color: rgb(59, 59, 59);
  opacity: 0.5;
  display: flex;
  flex-direction: column;
  transition: all 0.3s ease-in;
  overflow: hidden;
}
.show .historyRepo {
  width: 40vw;
  overflow: auto;
}
.historyRepo .body {
  display: flex;
  flex-direction: column-reverse;
  transition: all 0.3s ease-in;
}

.historyRepo .header {
  display: flex;
  align-items: center;
  justify-content: space-between;
  padding: 20px;
  border-bottom: 3px solid white;
}
.historyRepo .header i:hover {
  color: rgb(239 6 6 / 83%);
  cursor: pointer;
}
.historyRepo .reslutContiner,
.historyRepo .operationContiner {
  width: 100%;
  height: 30px;
  color: white;
  font-size: 22px;
  border-bottom: 1px solid white;
  padding: 0 15px;
}
.historyRepo .operationContiner {
  border: none;
}
.historyRepo .body .continer:hover {
  background-color: rgba(0, 0, 0, 0.658);
}

.calc .header {
  width: 100%;
  height: 190px;
  border: 1px solid #000;
  background-color: #333333;
  margin-bottom: 10px;
  position: relative;
}
.calc .header div:last-of-type {
  display: none;
}
.calc .header .opearations,
.calc .header .operatinReslut {
  display: flex;
  justify-content: flex-start;
  align-items: center;
  font-size: 30px;
  text-align: right;
  padding: 0 20px;
  background-color: transparent;
  color: white;
  height: 50%;
  position: relative;
  width: 100%;
  border-top: none;
  border-bottom: none;
  overflow: auto;
}
.calc .opearations {
  font-size: 45px;
}
.calc .opearations i,
.calc .operatinReslut i {
  font-size: 30px;
}
.calc .power .powerInput {
  position: relative;
  left: 10px;
  width: 120px;
  height: 160px;
  bottom: 270px;
  background-color: transparent;
  /* border: 1px solid #000; */
  border-radius: 10px;
}
.calc .power .powerInput input:first-of-type,
.calc .power .powerInput input:last-of-type {
  display: flex;
  width: 64%;
  height: 60%;
  text-align: center;
  position: absolute;
  border-radius: 10px;
  background-color: transparent;
  border: 1px solid #000;
  margin-right: 5px;
  font-size: 60px;
  color: white;
}
.calc .power .powerInput input:first-of-type {
  left: 80px;
}
.calc .power .powerInput input:last-of-type {
  top: 60px;
  right: 40px;
}
.calc .header input:nth-of-type(2) {
  width: 100%;
  height: 25%;
  position: absolute;
  top: 5px;
  background-color: transparent;
  border: none;
  font-size: 30px;
  color: white;
}

.calc #body {
  display: grid;
  grid-template-columns: repeat(1, 1fr);
  grid-template-rows: repeat(1, 180px);
}
.calc .scinetific .active {
  background-color: yellowgreen;
  color: white;
}
.plus-minus {
  display: flex;
  flex-direction: column;
  align-items: center;
  padding-top: 5px;
}
.scinetific .ans {
  grid-row: span 2;
  height: 100%;
}
#body .CE {
  grid-column: span 2;
  width: 99%;
}
.CE:hover,
.delete:hover {
  background-color: rgba(199, 16, 16, 0.733);
}
.sinceCalc .calc {
  width: 755px;
  height: 755px;
  transition: all 0.3s;
}
.calc .main .scinetific {
  display: none;
}
.calc .since .scinetific {
  display: grid;
  grid-template-columns: repeat(6, 1fr);
  grid-template-rows: repeat(9, 60px);
}
.calc .since .stander {
  display: none;
}
.mainCalc .calc {
  width: 635px;
  height: 810px;
  transition: all 0.3s ease-in;
}
.calc .main .stander {
  display: grid;
  grid-template-columns: repeat(4, 1fr);
  grid-template-rows: repeat(6, 85px);
}
.calc .main .scinetific {
  display: none;
}
.active .overlay {
  position: absolute;
  top: 0;
  width: 100%;
  height: 100%;
  background-color: rgba(0, 0, 0, 0.5);
}
#modal {
  position: absolute;
  top: -400px;
  left: 40%;
  width: 400px;
  height: 300px;
  background-color: rgb(241, 241, 241);
  border: 1px solid #ececec;
  border-radius: 20px 20px 0 0;
  transition: all 0.3s ease-in-out;
}
.active #modal {
  top: 0;
  transform: translateY(20%);
}
#modal .heading {
  display: flex;
  align-items: center;
  justify-content: space-between;
  border-bottom: 1px solid #d6cfcf;
  padding: 10px;
}
#modal .heading button {
  width: 50px;
  height: 50px;
  font-size: 40px;
  border-radius: 50%;
  border: 1px solid rgb(197, 195, 195);
}
#modal .heading button:hover {
  background-color: rgb(202, 0, 0);
  color: white;
}
#modal .content {
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  width: 100%;
  padding: 0 10px;
}
#modal .content input {
  width: 100%;
  height: 40px;
  margin: 10px 0;
  border: 1px solid transparent;
  outline: none;
}
@media (max-width: 1200px) {
  #main {
    flex-direction: column;
    align-items: flex-start;
  }
  .show .historyRepo {
    width: 100%;
  }
}
